/*To Stop the animation of sponsors and media partners on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}
.animate-marquee2:hover {
  animation-play-state: paused;
}
body {
  overflow-x: hidden;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes successAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Update the success page styles in RegistrationSuccess.js */
.max-w-md {
  animation: successAnimation 0.4s ease-in-out;
}
.logoWrapper {
  /* width:100vw; */
  top: 7.5rem;
}
